
#img{
    width: 100%;
}
.text{
    z-index: 1;
    text-align: center;
    position: absolute;
    margin: 20% 45%;
    color: black;
}
h6{
    z-index: 1;
    position: absolute;
    margin: 25% 45%;
    text-size-adjust: 12px;
}
#div1{
    display: flex;
    justify-content: space-between;
}

.Idaho{
    padding: 5px;
    margin: 5px;
    background-color: #EFA00B;
}

.Arizona{
    padding: 5px;
    margin: 5px;
    background-color: #EFA00B;
}

.Utah{
    padding: 5px;
    margin: 5px;
    background-color: #EFA00B;
}