/* 
.planning{
    height: 500px; 
    width: 500px;
}
.lightbulb{
    height: 500px; 
    width: 500px;
}
form{

}
form li{
    list-style: none;
} */

h1{
    text-align: center;
}
h3{
    text-align: center;
    grid-column: 1/4;
    grid-row: 2/3;
}
#p3grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#text{
    grid-column: 1/3;
    line-height: 60px;
}

#img1{
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
}

p{
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 10px;
   
}

.planning{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    padding: 10px;
}
form li{
    list-style: none;
}

form{
    margin: auto;
    margin-top: 50px;
    width: 97%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    grid-column: 1/4;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form li, li{
    margin-top: 1em;
}
label{
    display: inline-block;
    width: 200px;
    text-align: right;

}
input, textarea{
    font: 1em sans-serif;
    width: 85%;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus{
    border-color: #000;
}
textarea{
    vertical-align: top;
    height: 7em;
}

form .submit{
    padding-left: 90px;
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

button{
    width: 100px;
    height: 50px;
    background-color: #28666E;
    color: #ccc;
}
#feedback{
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;
}
.moveDown{
    margin-top: 3em;
}