body{
    background-color: mintcream;
    margin: 0;
    padding-top: 0;
  }
  .copyright{
    text-align: center;
  }
  /**Navigation starts here**/
  .nav1 li{
    list-style: none;
    float: left;
    padding-top: 0px;
    padding: 5px;
  }
  .nav1 a{
    display: inline-block;
    text-decoration: none;
    color: #FF652F;
    border: 3px solid #FF652F;
    padding: 15px 50px;
  }
  .nav1 a:hover{
    display: inline-block;
    position: relative;
    background-image: url();
    background-size: cover;
    color: mintcream;
    transition-property: all;
    transition-duration: 2s;
  }
  .nav1 ul{
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
  }
  /**Navgation Ends Here**/
  /**Header**/
  header{
    background-color: midnightblue;
    background-image: url();
    padding-top: 40px;
    width: 960px;
    margin: 0 auto;
    margin-top: -33px;
  }
  header h1{
    text-align: left;
    font-size: 300%;
    color: #FF652F;
  }
  
  .headingcontainer{
    max-width: 750px;
    margin: 0 auto;
    padding: 0;
  }
  /*Header ends here*/
  h1{
    text-align: center;
  }
  h3{
    text-align: center;
    margin-bottom: -20px;
  }
  /*Articles*/
  .eventslist h1{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
  .eventslist a{
    text-decoration: none;
    color: black;
  }
  img{
    width: 350px;
    height: 300px;
  }
  .shadow{
    text-shadow:5px 5px lightgray;
  }
  .updatelist li{
    list-style: none;
    text-align: justify;
    padding: 0;
    margin: 0;
  }
  .fandom a{
    color: black;
  }
  /*End of Articles*/
  /**Row starts here**/
  .column{
    float: left;
    width: 30%;
    padding: 10px;
  }
  .row::after{
    content: "";
    clear: both;
    display: table;
  }
  /**Row ends here**/
  .container{
    display: block;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: -10px;
  }
  /*Boxes*/
  .box-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  .box-a{
    background-color: azure;
    background-image: linear-gradient(to bottom right, teal, azure, paleturquoise, teal);
    padding: 20px 20px 0 20px;
    border: 2px solid gray;
    margin: 40px 40px 40px 40px;
    width: 250px;
    height: 250px;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.30);
    border-radius: 50px/30px;
    text-align: center;
  }
  .box-b{
    background-color: azure;
    background-image: linear-gradient( to bottom right, lightskyblue, lightcyan, azure, lightcyan, lightskyblue);
    border: 2px solid gray;
    padding: 20px 20px 0 20px;
    margin: 40px 40px 40px 40px;
    width: 250px;
    height: 250px;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px/30px;
    text-align: center;
  }
  .box-c{
    background-color: azure;
    background-image: linear-gradient( to bottom right, indigo, lavender, azure, lavender, indigo);
    border: 2px solid gray;
    padding: 20px 20px 0 20px;
    margin: 40px 40px 40px 40px;
    width: 250px;
    height: 250px;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px/30px;
    text-align: center;
    
  }
  /*Boxes End Here*/